DB_HOST=
DB_USER=
DB_PASS=
# You can change this in the sql/seed.sql file
DB_NAME=LXD_Manager

# If your using docker use these enviroment variables

# DB_HOST=db:3306
# DB_USER=lxd
# DB_PASS=lxdManagerPasswordComplex321
# DB_NAME=LXD_Manager
