vendor/**
src/sensitiveData/certs/**
src/sensitiveData/backups/**
.env
!snap/local/lxdmosaic/config/.env
build/**
.php_cs.cache
node_modules/**
certs/**
site/**
test.php
python/sysMetrics/offlineLogs/**
snap/plugins/__pycache__/
*.snap
coverage/*
