vendor/**
src/sensitiveData/certs/**
src/sensitiveData/backups/**
.env
build/**
.php_cs.cache
node_modules/**
certs/**
site/**
test.php
python/sysMetrics/offlineLogs/**

snap/plugins/__pycache__/
*.snap
