<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"

    bootstrap="tests/bootstrap.php"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnPhpunitDeprecations="true"
    failOnRisky="true"
    failOnWarning="true"
    cacheDirectory=".phpunit.cache"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    testdox="false"
>
    <coverage
        includeUncoveredFiles="true"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="false"
        pathCoverage="false"
    >
        <report>
            <html outputDirectory="build/coverage-html" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="build/coverage.txt" showOnlySummary="true"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory suffix=".php">src/classes</directory>
        </include>

        <exclude>
            <directory>src/classes/Legacy</directory>
            <directory>vendor</directory>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="seedHosts">
            <directory>tests/seedHosts</directory>
        </testsuite>

        <testsuite name="seedEntities">
            <directory>tests/seedEntities</directory>
        </testsuite>

        <testsuite name="tests">
            <directory>tests/test</directory>
        </testsuite>
    </testsuites>
</phpunit>
