#cloudConfig-editorCollapse {
    height: 550px;
}

#editor {
    position: absolute;
    width: 750px;
    height: 500px;
}


/* Adapated from https://bootsnipp.com/snippets/featured/multi-select-tiled-layout */
#profileHostsBox{margin:20px 0 0 0}
#profileHostsBox label.btn-default.active{background-color:#007ba7;color:#FFF}
#profileHostsBox label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:5px 8px 8px 0 #ccc;}
#profileHostsBox label .bizcontent{width:100%;}
#profileHostsBox .btn-group{width:90%}
#profileHostsBox .btn span.fa{
    opacity: 0;
}
#profileHostsBox .btn.active span.fa {
    opacity: 1;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.navbar .navbar-brand:hover{
    color: #E95420;
}

.fa-play, .fa-check {
    color: green;
}

.fa-snowflake-o {
    color: blue;
}

.fa-stop-circle, .fa-exclamation-triangle {
    color: red;
}

.card-block {
    padding: 20px;
}

.brand-card-header > .host {
    color: white;
}

.brand-card-body > div > .projectFormGroup {
    margin-left: 10px;
    margin-right: 10px;
}
