body {
    background-color: #a8a8a8;
}

.card {
    border: none;
}

#cloudConfig-editorCollapse {
    height: 550px;
}

.sidebar .nav-dropdown.open > .nav-dropdown-items {
    max-height: 200000px;
}

#deploymentList a {
    color: white;
}

.actionCard {
    cursor: pointer;
    text-decoration: underline;
}

#editor {
    position: absolute;
    width: 95%;
    height: 500px;
}

.app-header .nav-item.active .nav-link {
    color: #20a8d8;
}

.app-header .nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

.app-header .nav-item .nav-link {
    color: white;
}

.sidebar .nav-link:hover {
    background-color: #167495;
}

.sidebar .nav-item.active {
    background-color: #20a8d8;
}

.breadcrumb-item {
    color: white;
}

.breadcrumb-item.active {
    color: #20a8d8;
}


a:hover {
  color: #167495;
  color: #20a8d8;
  text-decoration: underline;
}

.card-hover-primary:hover{
    background-color: #20a8d8;
    color: white;
}

.bg-deepblue {
  background-color: #167495 !important;
}

.bg-deepblue  a {
    color: #3a4149;
    text-decoration: underline;
}

.breadcrumb {
    background-color: #3a4149;
    border-bottom: none;
}

.nav-link:hover {
    cursor: pointer;
}

body {
    font-size: 0.875rem;
}

.app-header .nav-item {
    margin-right: 2px;
}

/* Adapated from https://bootsnipp.com/snippets/featured/multi-select-tiled-layout */
#profileHostsBox{margin:20px 0 0 0}
#profileHostsBox label.btn-default.active{background-color:#007ba7;color:#FFF}
#profileHostsBox label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:5px 8px 8px 0 #ccc;}
#profileHostsBox label .bizcontent{width:100%;}
#profileHostsBox .btn-group{width:90%}
#profileHostsBox .btn span.fa{
    opacity: 0;
}
#profileHostsBox .btn.active span.fa {
    opacity: 1;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.navbar .navbar-brand:hover{
    color: #20a8d8;
}

.fa-play, .fa-check {
    color: green;
}

.fa-snowflake {
    color: blue;
}

.fa-stop-circle, .fa-exclamation-triangle {
    color: red;
}

.card-block {
    padding: 20px;
}

.brand-card {
    border: none;
}

.brand-card-header .host {
    color: white;
}

.brand-card-body > div > .projectFormGroup {
    margin-left: 10px;
    margin-right: 10px;
}
